<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">
    <%= t("home") %>
  </a>
</div>



<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-collapse-3">

  <ul class="nav navbar-nav navbar-left">
    <% if user_signed_in? %>
      <li>
        <a href="/posts/new" data-toggle="tooltip" data-placement="bottom" title="<%= t("new_post_link") %>.">
          <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<%= t("new_post") %>
        </a>
      </li>
    <% else %>
      <!--<li>
        <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="<%= t("about_link") %>!">
          <i class="fa fa-file-word-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<%= t("about") %>
        </a>
      </li>-->
    <% end %>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to "My Profile", current_user,class: "btn btn-link" %>
      </li>
      <li>
        <a class="btn-link" href="/users/edit" data-toggle="tooltip" data-placement="bottom" title="<%= t("edit_profile_link") %>.">
          <i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp;<%= t("edit_profile") %>
        </a>
      </li>
      <li>
        <a class="btn-link" rel="nofollow" data-method="delete" href="/users/sign_out" data-toggle="tooltip" data-placement="bottom" title="<%= t("sign_out_link") %>.">
          <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<%= t("sign_out") %>
        </a>
      </li>
    <% else %>
      <li>
        <a class="btn-link " href="/users/sign_in" data-toggle="tooltip" data-placement="bottom" title="<%= t("sign_in_link") %>.">
          <i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;<%= t("sign_in") %>
        </a>
      </li>
      <li>
        <a class="btn-link " href="/users/sign_up" data-toggle="tooltip" data-placement="bottom" title="<%= t("sign_up_link") %>.">
          <i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;<%= t("sign_up") %>
        </a>
      </li>
    <% end %>

  </ul>


</div>
<!-- /.navbar-collapse -->