<script>
    $(document).ready(function(){
        var optionalVisible = 0;
        var university_id = <%= current_user.university_id %>;
        var unv_fac_id = <%= current_user.unv_fac_id %>;
        var fac_dep_id = <%= current_user.fac_dep_id %>;
        var unv_name = "";
        var fac_name = "";
        var dep_name = "";
        var cour_name = "";
        $("#unv>option").each(function () {
            if (university_id == $(this).val()) {
                $(this).prop("selected", true);
                unv_name = $(this).text();
                $("#note_name").html(unv_name);
            }
        });
        $("#fac>option").each(function () {
            if (unv_fac_id == $(this).val()) {
                $(this).prop("selected", true);
                fac_name = $(this).text();
                $("#note_name").html(unv_name + " " + fac_name);
            }
            else{
                if($(this).attr("id") == university_id){
                    $(this).show();
                }
                else{
                    $(this).hide();
                }
            }
        });
        $("#dep>option").each(function () {
            if (fac_dep_id == $(this).val()) {
                $(this).prop("selected", true);
                dep_name = $(this).text();
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name);
            }
            else {
                if ($(this).attr("id") == unv_fac_id) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            }
        });
        $("#cour>option").each(function () {
            if (fac_dep_id == $(this).attr('id')) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });

        function reset($comenId) {
            $( $comenId ).prop( "disabled", true );
            $( $comenId).val("null");
        }

        $("#unv").change(function () {
            reset("#fac");
            reset("#dep");
            reset("#cour");
            $("#submit").prop('disabled', true);
            $id = parseInt($("#unv").val());
            if (!isNaN($id)) {
                unv_name = $("#unv option:selected").text();
                $("#note_name").html(unv_name);
                $("#fac>option").each(function () {
                    if ($(this).attr('id') == $id) {
                        $(this).show();
                    }
                    else {
                        if (isNaN($(this).val())) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
                $("#fac").prop("disabled", false);
            }
            else {
                $("#note_name").html("Lütfen Üniversite Seçiniz");
            }
        });
        $("#fac").change(function () {
            reset("#dep");
            reset("#cour");
            $("#submit").prop('disabled', true);
            $id = parseInt($("#fac").val());
            if (!isNaN($id)) {
                fac_name = $("#fac option:selected").text();
                $("#note_name").html(unv_name + " " + fac_name);
                $("#dep>option").each(function () {
                    if ($(this).attr('id') == $id) {
                        $(this).show();
                    }
                    else {
                        if (isNaN($(this).val())) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
                $("#dep").prop("disabled", false);
            }
            else {
                $("#note_name").html(unv_name);
            }
        });
        $("#dep").change(function () {
            reset("#cour");
            $("#submit").prop('disabled', true);
            $id = parseInt($("#dep").val());
            if (!isNaN($id)) {
                dep_name = $("#dep option:selected").text();
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name);
                $("#cour>option").each(function () {
                    if ($(this).attr('id') == $id) {
                        $(this).show();
                    }
                    else {
                        if (isNaN($(this).val())) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
                $("#cour").prop("disabled", false);
            }
            else {
                $("#note_name").html(unv_name + " " + fac_name);
            }
        });
        $("#cour").change(function () {
            if(!isNaN($("#cour").val())){
                $("#submit").prop('disabled', false);
                cour_name = $("#cour option:selected").text();
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name + " " + cour_name);
            }
            else{
                $("#submit").prop('disabled', true);
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name);
            }
        });
    });
</script>

<%= form_with(model: post, local: true, :html => {:multipart => true}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" style="padding-left: 10%;padding-rigt: 10%;padding-bottom: 5%;padding-top: 5%;">

    <div class="row">
      <div class="col-md-12">
        <h4 id="note_name"></h4>
        <i>( Ders Notunun İsmidir. Otomatik oluşturulmaktadır.)</i>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <label>Açıklama</label><br>
        <textarea class="form-control" name="post[content]" id="post_content"><%= @post.content %></textarea>
      </div>
    </div>

    <br>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <label>Üniversite</label><br>
        <select id="unv" name="post[university_id]" class="form-control">
          <option selected value="null">Üniversite Seçin</option>
          <% University.all.each do |unv| %>
            <option value="<%= unv.id %>"><%= unv.name %></option>
          <% end %>
        </select>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <label>Fakülte</label><br>
        <select id="fac" name="post[unv_fac_id]" class="form-control">
          <option selected id="0" value="null">Fakülte Seçin</option>
          <% UnvFac.all.each do |fac| %>
            <option id="<%= fac.university_id %>" value="<%= fac.id %>"><%= fac.faculty.name %></option>
          <% end %>
        </select>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <label>Bölüm</label><br>
        <select id="dep" name="post[fac_dep_id]" class="form-control">
          <option selected value="null">Bölüm Seçin</option>
          <% FacDep.all.each do |dep| %>
            <option id="<%= dep.unv_fac_id %>" value="<%= dep.id %>"><%= dep.department.name %></option>
          <% end %>
        </select>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <label>Ders Seçin</label>
        <select id = "cour" name="post[dep_cour_id]" class="form-control">
          <option selected value="null">Lütfen Ders Seçiniz</option>
          <% DepCour.all.each do |cours| %>
            <option id = "<%= cours.fac_dep_id %>" value="<%= cours.id %>"><%= cours.course.name %></option>
          <% end %>
        </select>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <%= form.file_field :file %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success" disabled id="submit">
          Not Ekle
        </button>
      </div>
    </div>

  </div>

<% end %>