<script>
    $(document).ready(function(){
        var optionalVisible = 0;
        var unv_name = "";
        var fac_name = "";
        var dep_name = "";
        var cour_name = "";

        function filitrele($comenid) {
            $("#a-tag>a").each(function () {
                if($(this).attr($comenid)==$('#'+$comenid).val()){
                    $(this).show("slow");
                }
                else{
                    $(this).hide("slow");
                }
            });
        }

        function reset($comenId) {
            $( $comenId ).prop( "disabled", true );
            $( $comenId).val("null");
        }
        $("#unv").change(function () {
            filitrele('unv');
            reset("#fac");
            reset("#dep");
            reset("#cour");
            $("#submit").prop('disabled', true);
            $id = parseInt($("#unv").val());
            if (!isNaN($id)) {
                unv_name = $("#unv option:selected").text();
                $("#note_name").html(unv_name);
                $("#fac>option").each(function () {
                    if ($(this).attr('id') == $id) {
                        $(this).show();
                    }
                    else {
                        if (isNaN($(this).val())) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
                $("#fac").prop("disabled", false);
            }
            else {
                $("#note_name").html("Tüm Üniversiteler");
            }
        });
        $("#fac").change(function () {
            filitrele('fac');
            reset("#dep");
            reset("#cour");
            $("#submit").prop('disabled', true);
            $id = parseInt($("#fac").val());
            if (!isNaN($id)) {
                fac_name = $("#fac option:selected").text();
                $("#note_name").html(unv_name + " " + fac_name);
                $("#dep>option").each(function () {
                    if ($(this).attr('id') == $id) {
                        $(this).show();
                    }
                    else {
                        if (isNaN($(this).val())) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
                $("#dep").prop("disabled", false);
            }
            else {
                $("#note_name").html(unv_name);
            }
        });
        $("#dep").change(function () {
            filitrele('dep');
            reset("#cour");
            $("#submit").prop('disabled', true);
            $id = parseInt($("#dep").val());
            if (!isNaN($id)) {
                dep_name = $("#dep option:selected").text();
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name);
                $("#cour>option").each(function () {
                    if ($(this).attr('id') == $id) {
                        $(this).show();
                    }
                    else {
                        if (isNaN($(this).val())) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
                $("#cour").prop("disabled", false);
            }
            else {
                $("#note_name").html(unv_name + " " + fac_name);
            }
        });
        $("#cour").change(function () {
            filitrele('cour');
            if(!isNaN($("#cour").val())){
                $("#submit").prop('disabled', false);
                cour_name = $("#cour option:selected").text();
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name + " " + cour_name);
            }
            else{
                $("#submit").prop('disabled', true);
                $("#note_name").html(unv_name + " " + fac_name + " " + dep_name);
            }
        });
    });
</script>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-lg-2" style="padding: 1%;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <label>Üniversite</label><br>
          <select id="unv" name="post[university_id]" class="form-control">
            <option selected value="null" disabled>Üniversite Seçin</option>
            <% University.all.each do |unv| %>
              <option value="<%= unv.id %>"><%= unv.name %></option>
            <% end %>
          </select>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <label>Fakülte</label><br>
          <select id="fac" name="post[unv_fac_id]" class="form-control" disabled>
            <option selected id="0" value="null" disabled>Fakülte Seçin</option>
            <% UnvFac.all.each do |fac| %>
              <option id="<%= fac.university_id %>" value="<%= fac.id %>"><%= fac.faculty.name %></option>
            <% end %>
          </select>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <label>Bölüm</label><br>
          <select id="dep" name="post[fac_dep_id]" class="form-control" disabled>
            <option selected value="null" disabled>Bölüm Seçin</option>
            <% FacDep.all.each do |dep| %>
              <option id="<%= dep.unv_fac_id %>" value="<%= dep.id %>"><%= dep.department.name %></option>
            <% end %>
          </select>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Ders Seçin</label>
          <select id="cour" name="post[dep_cour_id]" class="form-control" disabled>
            <option selected value="null" disabled>Lütfen Ders Seçiniz</option>
            <% DepCour.all.each do |cours| %>
              <option id="<%= cours.fac_dep_id %>" value="<%= cours.id %>"><%= cours.course.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-10" style="padding: 1%;">
      <div class="row">
        <div class="w3-container w3-teal">
          <h1 id="note_name">Tüm Üniversiteler</h1>
        </div>
      </div>

      <div id="a-tag" class="row">
        <% @posts.each do |post| %>
          <a unv="<%= post.university_id %>" fac="<%= post.unv_fac_id %>" dep="<%= post.fac_dep_id %>" cour="<%= post.dep_cour_id %>" href="/posts/<%= post.id %>">
            <div class="w3-third w3-row-padding w3-margin-top">
              <div class="w3-card">
                <img src="http://www.kinyu-z.net/data/wallpapers/180/1334806.jpg" style="width:100%">
                <div class="w3-container">
                  <h5>
                    <%= post.university.name %>&nbsp;&nbsp;<%= post.unv_fac.faculty.name %><br>
                    <%= post.fac_dep.department.name %>&nbsp;&nbsp;<%= post.dep_cour.course.name %>
                  </h5>
                </div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>