<div class="container-fluid" style="text-align: center;padding: 5%;">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <iframe src="<%= @post.file %>" width="750" height="1000" style="border: 0">
        This browser does not support PDFs. Please download the PDF to view it:
        <a href="<%= @post.file %>">Download PDF</a>
      </iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <h1>
          <%= @post.university.name %> <%= @post.unv_fac.faculty.name %>
          <%= @post.fac_dep.department.name %> <%= @post.dep_cour.course.name %> -

        </h1>
      </div>
      <div class="row">
        <h3>Açıklama (updated by :  <%= @post.user.name %>
          <%= @post.user.surname %>)</h3>
        <div class="row">
          <%= @post.content %>
        </div>

      </div>
      <br>
      <div class="row" style="text-align: right">
        <a href="<%= @post.file %>" class="btn btn-success">Download file</a>
        <% if current_user.id == @post.user_id %>
          <%= link_to 'Edit', edit_post_path(@post),class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>

  </div>
</div>